<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>HealthApp</display-name>
	<welcome-file-list>
		<welcome-file>SignIn.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
<servlet>
 <servlet-name>Login</servlet-name>
  <servlet-class>com.ua.health.Login</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>Profile</servlet-name>
  <servlet-class>com.ua.health.Profile</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>Profile</servlet-name>
  <url-pattern>/Profile</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>SignUp</servlet-name>
  <servlet-class>com.ua.health.SignUp</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/Logout</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>Logout</servlet-name>
  <servlet-class>com.ua.health.Logout</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>SignUp</servlet-name>
  <url-pattern>/SignUp</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>ChangePassword</servlet-name>
  <servlet-class>com.ua.health.ChangePassword</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>ChangePassword</servlet-name>
  <url-pattern>/ChangePassword</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>CreateNewCase</servlet-name>
 <servlet-class>com.ua.health.CreateNewCase</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>CreateNewCase</servlet-name>
  <url-pattern>/CreateNewCase</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>InitiateChat</servlet-name>
 <servlet-class>com.ua.health.InitiateChat</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>InitiateChat</servlet-name>
  <url-pattern>/InitiateChat</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>CaseHistory</servlet-name>
 <servlet-class>com.ua.health.CaseHistory</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>CaseHistory</servlet-name>
  <url-pattern>/CaseHistory</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>CheckAppointment</servlet-name>
 <servlet-class>com.ua.health.CheckAppointment</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>CheckAppointment</servlet-name>
  <url-pattern>/CheckAppointment</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>GetSpecializations</servlet-name>
 <servlet-class>com.ua.health.GetSpecializations</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>GetSpecializations</servlet-name>
  <url-pattern>/GetSpecializations</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>BookAppointment</servlet-name>
 <servlet-class>com.ua.health.BookAppointment</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>BookAppointment</servlet-name>
  <url-pattern>/BookAppointment</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>Analysis</servlet-name>
 <servlet-class>com.ua.health.Analysis</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>Analysis</servlet-name>
  <url-pattern>/Analysis</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>GoHome</servlet-name>
 <servlet-class>com.ua.health.GoHome</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>GoHome</servlet-name>
  <url-pattern>/GoHome</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>EndChat</servlet-name>
 <servlet-class>com.ua.health.EndChat</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>EndChat</servlet-name>
  <url-pattern>/EndChat</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>EndChatPatient</servlet-name>
 <servlet-class>com.ua.health.EndChatPatient</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>EndChatPatient</servlet-name>
  <url-pattern>/EndChatPatient</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>Crud</servlet-name>
  <servlet-class>com.ua.health.Crud</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>Crud</servlet-name>
  <url-pattern>/Crud</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>CrudInsertForm</servlet-name>
  <servlet-class>com.ua.health.CrudInsertForm</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>CrudInsertForm</servlet-name>
  <url-pattern>/CrudInsertForm</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>CrudInsert</servlet-name>
  <servlet-class>com.ua.health.CrudInsert</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>CrudInsert</servlet-name>
  <url-pattern>/CrudInsert</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>CrudInsertMedicine</servlet-name>
  <servlet-class>com.ua.health.CrudInsertMedicine</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>CrudInsertMedicine</servlet-name>
  <url-pattern>/CrudInsertMedicine</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>CrudInsertLabs</servlet-name>
  <servlet-class>com.ua.health.CrudInsertLabs</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>CrudInsertLabs</servlet-name>
  <url-pattern>/CrudInsertLabs</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>CrudInsertFeedback</servlet-name>
  <servlet-class>com.ua.health.CrudInsertFeedback</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>CrudInsertFeedback</servlet-name>
  <url-pattern>/CrudInsertFeedback</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>DeleteRow1</servlet-name>
  <servlet-class>com.ua.health.DeleteRow1</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>DeleteRow1</servlet-name>
  <url-pattern>/DeleteRow1</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>DeleteRow2</servlet-name>
  <servlet-class>com.ua.health.DeleteRow2</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>DeleteRow2</servlet-name>
  <url-pattern>/DeleteRow2</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>DeleteRow3</servlet-name>
  <servlet-class>com.ua.health.DeleteRow3</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>DeleteRow3</servlet-name>
  <url-pattern>/DeleteRow3</url-pattern>
</servlet-mapping>
<servlet>
 <servlet-name>DeleteRow4</servlet-name>
  <servlet-class>com.ua.health.DeleteRow4</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>DeleteRow4</servlet-name>
  <url-pattern>/DeleteRow4</url-pattern>
</servlet-mapping>
</web-app>